body{
  padding: 0px;
  margin: 0px;
}

.nav{
  background-color: #000;
  height: 60px;
  text-align: center;
  transition:1s;
  position:fixed;
  width:100%; 
  margin-top:0px;	
}
.nav ul{
  margin: 0px;
  padding: 0px ;
}
.nav ul li {
  display: inline-block;
}
.nav ul li a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  padding: 20px 40px;
  float: left;
 font-family:sans-serif;
}
.nav ul li a.active {
color: white;
}
.nav ul li a:hover{
  background-color: orange;
transition:1s;
  color: red;
}

.head{
  background-color: #000;
  height: 200px;
margin-top:0px;
border-top: 4px solid blue;    
}






.lbleft{
  text-align:left;
  }
  
  input[type=text],[type=date],[type=email],[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: brown;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .backdiv {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    
    height:auto;
    margin:  100px auto;
    width:60%;
  }
  
